body {
  background-image: url("https://www.tastingtable.com/img/gallery/why-you-should-consider-pouring-expensive-ingredients-last-in-cocktails/l-intro-1668106033.jpg");
  background-size: cover;
  text-align: center;
  font-family: Trattatello, fantasy;
}

header {
  /* background-image: url("https://thumbs.dreamstime.com/b/set-various-cocktails-black-background-set-various-cocktails-shaker-black-background-188649840.jpg"); */
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: black;
}

#top-div {
  display: flex;
  justify-content: space-evenly;
}

section {
  margin: 5px 5px 5px 5px;
}

.container {
  background: rgba(265, 165, 0, 50%);
  background-repeat: no-repeat;
  position: relative;
  font-size: 30px;
  border: 2px solid black;
  border-radius: 10px;
  width: 400px;
  height: 600px;
  padding: 10px;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 2px white;
  font-size: 60px;
}

#quote {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  text-align: center;
  text-shadow: 2px 2px 2px white;
}

button {
  background-color: rgb(157, 43, 66);
  color: #fff;
  font-size: 16px;
  border: 1px solid;
  padding: 10px;
  width: 200px;
  height: 50px;
  outline: none;
  margin: auto;
  border-radius: 10px;
}

#shaker {
  display: grid;
  align-content: space-evenly;
}

#bar-top {
  text-align: left;
}

#bar-top h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  position: relative;
  text-shadow: 1px 1px 1px white;
}

#bar-top p {
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 1.25rem;
  line-height: 1.4;
}

img {
  position: flex;
  height: 40%;
  width: auto;
  max-width: 70%;
  margin: 5px 5px 5px 5px;
  border: 2px solid rgb(157, 43, 66)
}
