body {
    background-image: url("https://www.tastingtable.com/img/gallery/why-you-should-consider-pouring-expensive-ingredients-last-in-cocktails/l-intro-1668106033.jpg");
    background-size: cover;
    
}

header {
    /* background-image: url("https://thumbs.dreamstime.com/b/set-various-cocktails-black-background-set-various-cocktails-shaker-black-background-188649840.jpg"); */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    color: black;
  }
  
  section {
      float: left;
      margin: 5px;
  }
  
.container {
  background-color: transparent;
  font-size: 34px;
  border: 2px solid #1576C1;
  border-radius: 10px;
  width: 350px;
  height: 350px;
}

