body {
  background-image: url("https://www.tastingtable.com/img/gallery/why-you-should-consider-pouring-expensive-ingredients-last-in-cocktails/l-intro-1668106033.jpg");
  background-size: cover;
  text-align: center;
  font-family: Courgette;
}

header {
  /* background-image: url("https://thumbs.dreamstime.com/b/set-various-cocktails-black-background-set-various-cocktails-shaker-black-background-188649840.jpg"); */
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  color: black;
  font-family: Trattatello, fantasy;
}

#top-div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

section {
  height: 70%;
  float: left;
}

.container {
  background: rgba(265, 165, 0, 50%);
  background-repeat: no-repeat;
  position: relative;
  font-size: 30px;
  border: 2px solid black;
  border-radius: 10px;
  height: 600px;
  padding: 10px;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 2px white;
  font-size: 4rem;
}

h2 {
  text-align: center;
  text-shadow: 2px 2px 2px white;
}

button {
  background-color: rgb(157, 43, 66);
  color: #fff;
  font-size: 16px;
  border: 1px solid;
  padding: 10px;
  width: 200px;
  height: 50px;
  outline: none;
  margin: auto;
  border-radius: 10px;
}

#well {
  width: 250px;
  display: flex;
  flex-direction: column;
}

#well div {
  display: contents;
}

h3 {
  font-family: Trattatello, fantasy;
}

#shaker {
  display: flex;
  flex-direction: column;
  width: 250px;
}

#shaker div {
  display: contents;
}

#bar-top {
  text-align: left;
  width: 600px;
}

#bar-top div {
  display: flex;
  height: 50%;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

#bar-top div div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  font-family: trattatello, fantasy;
}

#bar-top h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  position: relative;
  font-size: 2.7rem;
  font-family: trattatello, fantasy;
  text-shadow: 1px 1px 1px white;
}

#bar-top p {
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.4;
}

img {
  height: 100%;
  width: 50%;
  max-width: 70%;
  margin: 5px 5px 5px 5px;
  border: 2px solid #fff;
}

button:hover {
  background-color: rgb(255, 74, 110);
}

.dragover {
  color: white;
  border-color: white;
  background-color: rgb(255, 128, 0, 75%);
}

#countdown {
  color: white;
  font-Family: Trattatello;
  font-size: 2.3rem;
  text-shadow: 2px 2px black;
  letter-spacing: 3px;
}

#search-bar {
  height: 50px;
  width: 200px;
}